@import "my-giphy-bundle"; //animated gifs and image definitions

// Hotline Miami Style Setting Prefference Menu
.config-menu{
    background: url(@vaporwave_palms2) !important;
    color: blue;
}
div.config-menu > ul > li > a{
    color: magenta;
    text-shadow : 1px 1px 1px rgba(255, 0, 0, 1), 2px 3px 1px rgba(0, 255, 0, 1), 3px 5px 1px rgba(0, 0, 255, 1);
}

// Git Stage trippy Lable Text

.github-StagingView-title {
    text-shadow : 1px 1px 1px rgba(255, 0, 0, 1), 2px 3px 1px rgba(0, 255, 0, 1), 3px 5px 1px rgba(0, 0, 255, 1);
}

// Text Cursor Highlighting

.selection .region {
    background: url(@vaporwave_palms2) !important;
    color:blue;
    text-shadow : 1px 1px 1px rgba(255, 0, 0, 1), 2px 3px 1px rgba(0, 255, 0, 1), 3px 5px 1px rgba(0, 0, 255, 1);
}

.cursor-line {
    background: url(@synthwave) !important;
}

.line:hover{
    background-color: rgba(102, 102, 153, .5);
}

.line-number:hover{
    background-color: white;
    color: blue;
    text-shadow : 0 0 white;
}

.line span:hover{
    background-color: rgba(0, 153, 153, .9);
    border-radius: 5px;
    color: black;
    text-shadow: 0 0;
}

.tree-view {
    //background: blue;
    background: linear-gradient(#6B2980, #228483);
    //background: url(@vaporwave_palms2);
    background-size: cover;
}

.github-Panel {
    background-color: cyan;
    //background: url(@odom);
    background: linear-gradient(#6B2980, #228483);
    background-size: cover;
    background-position: 30%;
}

.editor {
    //background: url(@odom) no-repeat;
    //background: url(@synthwave) no-repeat;
    background-size: auto 100%;
    text-shadow: 2px 2px black;
    background-size: cover;
    background-position: center;
}
